<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <form  method="POST" action="/listings">
        <input name="title" placeholder="enter title" type="text">
        <br  />
        <textarea name="description" placeholder="enter the description" >
        </textarea>
        <br  />
        <input name="image" placeholder="ente rthe image link or url" >
        <br  />
        <input type="text" name="location" placeholder="enter the location" >
        <br  />
        <input type="text" name="country" placeholder="enter the country">
        <br  />

        <button>Add</button>
    </form>

</body>
</html>